<config>
	<modules>
		<Magentotutorial_Productviewer>
			<version>0.1.0</version>
		</Magentotutorial_Productviewer>
	</modules>
	<frontend>
		<routers>
			<Productviewer>
				<use>standard</use>
				<args>
					<module>Magentotutorial_Productviewer</module>
					<frontName>productviewer</frontName>
				</args>
			</Productviewer>
		</routers>
	</frontend>
</config>